<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <header>
    <img class="img" src="/images/Hambre.gif" />
  </header>
  <body>
    <h1>Detalle de tu experiencia</h1>
    <form method="POST" action="/delivery/dProductDetail/<%= product.id %>?_method=PATCH">
      <section>
        <div>
                <section class="product-box">
                  <h2><%= product.plato%></h2>
                  <div class="Producto-palto">
                    <label for="plato">plato</label>
                    <input
                      type="text"
                      name="plato"
                      placeholder=" <%= product.plato %> "
                    />
                  </div>
                  <div class="product-RestoOLocal">
                    <label for="RestoOLocal">nombre del Resto o Local</label>
                    <input
                      type="text"
                      name="RestoOLocal"
                      placeholder=" <%= product.RestoOLocal %> "
                    />
                  </div>
                  <div class="product-descripcion">
                    <label for="descripcion">descripcion</label>
                    <input
                      type="text"
                      name="descripcion"
                      placeholder=" <%= product.descripcion %> "
                    />
                  </div>
                  <div class="product-aptoVegano">
                    <label for="aptoVegano">apto vegano</label>
                    <input
                      type="text"
                      name="aptoVegano"
                      placeholder=" <%= product.aptoVegano %> "
                    />
                  </div>
                  <div class="product-precio">
                    <label for="precio">precio</label>
                    <input
                      type="text"
                      name="precio"
                      placeholder=" <%= product.precio %> "
                    />
                  </div>
                  <div class="product-puntuacion">
                    <label for="puntuacion">puntuacion</label>
                    <input
                      type="text"
                      name="puntuacion"
                      placeholder=" <%= product.puntuacion %> "
                    />
                  </div>
                  <div class="product-comentarios">
                    <label for="comentarios">comentarios</label>
                    <input
                      type="text"
                      name="comentarios"
                      placeholder=" <%= product.comentarios %> "
                    />
                  </div>
                </section>
      </section>
      <input type="submit" value="editar" />
    </form>
  </body>
</html>
